files:
  "/etc/php-5.5.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      date.timezone="Asia/Tokyo"
      upload_max_filesize = 64M
      post_max_size = 64M

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_resque_worker.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      chmod 660 /var/www/html/phpMyAdmin/config.inc.php
      cp /usr/share/zoneinfo/Japan /etc/localtime
      chmod 744 /var/www/html/ebay/rakuten_convert.php
      chmod 744 /var/www/html/ebay/ebay_addItem.php
